{% extends 'main.html' %}
{% block content %}
        <header>
            <h3>Attendance list</h3>
        </header>
        <div class="data">
            <div class="rolltable">
                <form action="{{url_for('attendance_list')}}" method="post">
                <table>
                    <thead>
                    <th>Login</th>
                    <th>Full name</th>
                    <th>Present / Absent</th>
                    </thead>
                    {% for student in students %}
                    <tr>
                        <td>{{student.login}}</td>
                        <td>{{student.full_name}}</td>
                        <td>
                            <input class = 'attendance_check' type="radio" value="present" name = '{{ student.id_}}' >
                            <input class = 'attendance_check' type="radio" value="absent" name = '{{ student.id_}}' >
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <input class = 'submit_attendance' type="submit"  value="Submit">
                </form>
            </div>
            </div>
        </div>
{% endblock %}