{% extends 'main.html' %}
{% block content %}
        <header>
            <h3>Change your password</h3>
        </header>
            <div class="data">
                <div class="form-wrapper">
                    <div class="change-pass">
                        <form class="form" method="POST" action="{{ url_for('change_password') }}">
                            <input type="password" name="password" placeholder="New Password">
                            <input type="password" name="rpassword" placeholder="Repeat password">
                            <input class='button' type="submit" name="submit" value="Submit">
                            {% if change_pass %}
                                <h3 class="error">{{ change_pass }}</h3>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
{% endblock %}