<!DOCTYPE html>
<html lang="en">
<head>
    <title>CCMS</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
</head>
<body>
<div class="container">
    <aside id="sidebar">
        <header class="user_info">
            <div id="bar">You're logged in as:
            <img src="{{ url_for('static', filename='default_user_img.png') }}" alt="person">
            </div>
            <section>
                <div>
                <p class="fullname">Jerzy</p>
                <p><a href="{{ url_for('change_password') }}">Change password</a></p>
                <p><a href="{{ url_for('index') }}">Logout</a></p>
                </div>
            </section>
        </header>
        <nav>
            <h3>Student</h3>
            <ul>
                <li><a href="{{ url_for('student') }}">List</a></li>
                <li><a href="attendance_view.html">Attendance</a></li>
                <li><a href="{{ url_for('teams') }}">Teams</a></li>
                <li><a href="checkpoints_view.html">Checkpoints</a></li>
            </ul>
            <h3>Mentor</h3>
            <ul>
                <li><a href="{{ url_for('mentor') }}">List</a></li>
            </ul>
            <h3>Assignment</h3>
            <ul>
                <li><a href="assignment_list.html">List</a></li>
                <li><a href="submissions_list.html">Submissions</a></li>
            </ul>
        </nav>
    </aside>
    <div class="content">
        {% block content %}
        <img src="{{ url_for('static', filename='logo_welcome.png') }}" alt="welcome_logo">
        {% endblock %}
    </div>
</div>
</body>
</html>