{% extends 'main.html' %}
{% block content %}
        <header>
            <h3>Mentors list</h3>
            <a href="student_mentor_form.html"><input type="submit" value="ADD"></a>
        </header>
        <div class="data">
            <table>
                <thead>
                    <tr>
                        <th>Login</th>
                        <th>Full name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                {% for mentor in mentors %}
                <tr>
                    <td>{{mentor.login}}</td>
                    <td>{{mentor.full_name}}</td>
                    <td><a href="/{{ mentor.id_}}/delete">Remove</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
{% endblock %}