{% extends 'main.html' %}
{% block content %}
        <header>
            <h3>Submissions</h3>
        </header>
        <div class="data">
            <table>
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Content</th>
                    <th>Grade</th>
                </tr>
                </thead>
                {% for submission in submissions %}
                <tr>
                    <td>{{submission.assignment.title}}</td>
                    <td>{{submission.user.full_name}}</td>
                    <td>{{submission.submission_date}}</td>
                    <td><a href="{{submission.project}}">{{submission.project}}</a></td>
                    {% if submission.grade %}
                        {% if user.role_id == 1 %}
                        <td>{{submission.grade}}<a href="/submissions/{{submission.id}}/grade">Reevaluate</a></td>
                        {%else%}
                        <td>{{submission.grade}}</td>
                        {%endif%}
                    {%else%}
                        {% if user.role_id == 1 %}
                        <td><a href="/submissions/{{submission.id}}/grade">Grade</a></td>
                        {%else%}
                        <td>Not graded</td>
                        {%endif%}
                    {% endif %}
                </tr>
                {%endfor%}
            </table>
        </div>
{% endblock %}}