{% extends 'main.html' %}
{% block content %}
    <div class="content">
        <header>
            <h3>Submit your assignment:</h3>
        </header>
        <div class="form_wrapper">
            <div class="data">
                    <form method="post" class="form">
                        <input type="text" name="link" placeholder="Provide link to github repo" required>
                        <input type="submit"  class='button' onclick="play_sound()"  value="Submit">
                    </form>
                </div>
        </div>
        </div>
    <script src="js/main.js"></script>
{%endblock%}