{% extends 'main.html' %}
{% block content %}
        <header>
            <h3>Teams list</h3>
            <form action="{{ url_for('teams_new') }}" method="GET">
                <input type="submit" value="ADD">
            </form>
        </header>
        <div class="data">
            <div class="team_form">
                <table>
                    <thead>
                    <tr>
                        <th>Team name</th>
                    </tr>
                    </thead>
                    {% for team in teams %}
                    <tr>
                        <td>{{ team.name }}</td>
                    </tr>
                    {% endfor %}
                </table>
        </div>
    </div>
{% endblock %}